# Framework
# ---------
YII_DEBUG   = true
YII_ENV     = dev

# Databases
# ---------
DB_DSN           = mysql:host=127.0.0.1;port=3306;dbname=wx_admin_platform
DB_USERNAME      = root
DB_PASSWORD      = root1234
DB_TABLE_PREFIX  = yii2cmf_

# Redis
# --------
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_DB=6